# See http://help.github.com/ignore-files/ for more about ignoring files.
# Compiled output

#Angular gitignore

Web/Smart/dist
Web/Smart/tmp
Web/Smart/out-tsc
Web/Smart/bazel-out

# Node
Web/Smart/node_modules
Web/Smartnpm-debug.log
Web/Smartyarn-error.log

# IDEs and editors
Web/Smart.idea/
Web/Smart.project
Web/Smart.classpath
Web/Smart.c9/
Web/Smart*.launch
Web/Smart.settings/
Web/Smart*.sublime-workspace

# Visual Studio Code
Web/Smart.vscode/*
Web/Smart!.vscode/settings.json
Web/Smart!.vscode/tasks.json
Web/Smart!.vscode/launch.json
Web/Smart!.vscode/extensions.json
Web/Smart.history/*

# Miscellaneous
Web/Smart/.angular/cache
Web/Smart.sass-cache/
Web/Smart/connect.lock
Web/Smart/coverage
Web/Smart/libpeerconnection.log
Web/Smarttestem.log
Web/Smart/typings

# System files
Web/Smart.DS_Store
Web/SmartThumbs.db


#Embedded files
Embedded/build/
Embedded/SmartFRA/CMakeFiles/
Embedded/SmartFRA/CMakeCache.txt
Embedded/build-SmartFRA-Desktop_Qt_6_3_1_GCC_64bit-Debug/
Embedded/build-SmartFRA-Desktop_Qt_6_1_1_MinGW_64_bit-Debug
Embedded/SmartFRA/CMakeLists.txt.user.*
Embedded/SmartFRA/CMakeLists.txt.user

#DataAccess files
DataAccess/Local/node_modules/

# Qt and C++ files
# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash

# qtcreator generated files
*.pro.user*

# xemacs temporary files
*.flc

# Vim temporary files
.*.swp

# Visual Studio generated files
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# MinGW generated files
*.Debug
*.Release

# Python byte code
*.pyc

# Binaries
# --------
*.dll
*.exe


Embedded/SmartFRA/Logs/logs.txt
