<main>
    <h2>Visitas</h2>
    <div class="information-square">
        <span> Aqui encontraras todas las visitas del recinto!</span>

        <div class="houses-options">
           <button class="add-house-button" (click)="contentChangeHousesOption('register-guess-access')">Registrar Visita</button><br>
        </div>
    </div>

    <div class="houses-content-option">
        <div *ngIf="currentContentHouses == 'main-menu'">
            <h3>Visitas Registradas</h3>

            <table class="default">
                <tr>
                    <th>#</th>
                    <th>Visitante</th>
                    <th>Residente</th>
                    <th>Fecha</th>
                </tr>
                <tr *ngFor="let house of housesResul">
                    <td>{{ house.idHouse }}</td>
                    <td>{{ house.address }}</td>
                    <td>{{ house.numberHouse }}</td>
                    <td><button (click)="moreDataHouse(house.numberHouse)">Marcar Salida</button></td>
                </tr>
                
            </table>
        </div>

        <div *ngIf="currentContentHouses == 'register-guess-access'">
            <h3>Registrar Nueva Visita:</h3>
            <form [formGroup]="formRegisterHouse" class="" id="RegisterHouseForm" role="form" (ngSubmit)="registerHouse()">
                <span class="">Nombre de invitado*:</span>
                <input class="" formControlName="address" id="address" type="text" name="name" placeholder="Nombre"><br>
                <span class="">Apellidos*:</span>
                <input class="" formControlName="numberHouse" id="numberHouse" type="text" name="name" placeholder="Nombre"><br>
                <span class="">Placas*:</span>
                <input class="" formControlName="address" id="address" type="text" name="name" placeholder="Nombre"><br>
                <span class=""># Telefono*:</span>
                <input class="" formControlName="numberHouse" id="numberHouse" type="text" name="name" placeholder="Nombre"><br>
                <span class="">Fecha de visita*:</span>
                <input class="" formControlName="address" id="address" type="text" name="name" placeholder="Nombre"><br>
                <span class=""># Evento*:</span>
                <input class="" formControlName="numberHouse" id="numberHouse" type="text" name="name" placeholder="Nombre"><br>
                <button type="submit">Registrar</button>
            </form>
        </div>

    </div>
</main>
