<!-- <div class="bg-complementary-gray-light-color xsm:columns-1  min-w-full h-screen">
    <div>
        <p class="text-2xl font-normal text-secondary-blue mb-6 xsm:text-sm sm:text-xl ">Registrar Nuevo Residente</p>

        <form [formGroup]="formRegister" class=""  id="RegisterResidentForm" role="form" (ngSubmit)="guardar()" >
            <input class="" formControlName="residentName" [class.is-invalid]="nameResidentNoValid" id="residentName" type="text" name="name" placeholder="Nombre"><br>
            <small *ngIf="nameResidentNoValid">* Introduce un nombre valido</small><br>
            <input class="" formControlName="lastName" [class.is-invalid]="lastNameNoValid" id="lastName" type="text" name="lastName1" placeholder="Apellido Paterno"><br>
            <small *ngIf="nameResidentNoValid">* Introduce un nombre valido</small><br>
            <input class="" formControlName="motherLastName" [class.is-invalid]="motherLastNameNoValid" id="motherLastName" type="text" name="lastName2" placeholder="Apellido Materno"><br>
            <small *ngIf="nameResidentNoValid">* Introduce un nombre valido</small><br>
            <div class="">
                <input class="" formControlName="age" [class.is-invalid]="ageNoValid" id="age" type="number" name="age" placeholder="0"><br>
                <input class="" formControlName="idHouse" [class.is-invalid]="idHouseNoValid" id="idHouse" type="text" name="houseNumber" placeholder="Numero de Casa"><br>
            </div>
            <small *ngIf="nameResidentNoValid">* Introduce un nombre valido</small><br>
            <small *ngIf="nameResidentNoValid">* Introduce una casa valida</small><br>
            <input class="" formControlName="plates" [class.is-invalid]="platesNoValid" id="plates" type="text" name="plates" placeholder="Placas"><br>
            <small *ngIf="nameResidentNoValid">* Introduce un nombre valido</small><br>
            <input class="" formControlName="telephone" [class.is-invalid]="telephoneNoValid" id=" telephone" type="tel" name="telephone" placeholder="Telefono de Contacto"><br>
            <small *ngIf="nameResidentNoValid">* Introduce un nombre valido</small><br>
        
    
        <!-- <img src="../../../../assets/icons/bars.svg" class="rounded-full bg-secondary-blue-color p-5 w-44 h-44" alt=""><br> -->
        <!-- <h2>Model Recognition</h2>

           <div class="flex flex-grow">
            <button class="">X</button><br>
            <button class=" ">Grabar Modelo</button><br>
           </div>

            <button type="button" (click)="limpiar()" class="">Limpiar</button><br>
        </form>

        <button type="submit" form="RegisterResidentForm" class="text-red-alert">Registrar</button>

        

</div>



</div> --> -->