<div class="bg-complementary-gray-light-color xsm:columns-1 sm:columns-2 w-screen h-screen">
    <div class="bg-red-alert w-full h-full p-5">
        <p class="text-2xl font-normal text-secondary-blue mb-6">Registrar Nuevo Residente</p>


        <form class=" space-y-9 " role="form" [target]="'_blank'" >
            <input class="bg-complementary-gray-light-color w-full rounded-xl h-20 p-2 font-thin" formControlName="name"  id="name" type="text" name="name" placeholder="Nombre">
            <input class="bg-complementary-gray-light-color w-full rounded-xl h-20 p-2 font-thin" formControlName="lastName1" id="lastName1" type="text" name="lastName1" placeholder="Apellido Paterno">
            <input class="bg-complementary-gray-light-color w-full rounded-xl h-20 p-2  font-thin" formControlName="lastName2" id="lastName2" type="text" name="lastName2" placeholder="Apellido Materno">
            <div class="w-full h-fit columns-2 flex justify-between">
                <input class="bg-complementary-gray-light-color w-full rounded-xl h-20 p-2 font-thin mr-1" formControlName="age" id="age" type="number" name="age" placeholder="0">
                <input class="bg-complementary-gray-light-color w-full rounded-xl h-20 p-2 font-thin ml-1" formControlName="houseNumber" id="houseNumber" type="text" name="houseNumber" placeholder="Numero de Casa">
            </div>
            <input class="bg-complementary-gray-light-color w-full rounded-xl h-20 p-2 font-thin" formControlName="plates" id="plates" type="text" name="plates" placeholder="Placas">
            <input class="bg-complementary-gray-light-color w-full rounded-xl h-20 p-2 font-thin" formControlName="lastName2" id="telephone" type="tel" name="telephone" placeholder="Telefono de Contacto">
        </form>

    </div>

    <div class="bg-primary-orange-color w-50 h-50">
        Pajarito
            </div>


   
</div>