<div class="bg-complementary-gray-light-color xsm:columns-1  min-w-full h-screen">
    <div>
        <p class="text-2xl font-normal text-secondary-blue mb-6 xsm:text-sm sm:text-xl ">Registrar Nuevo Residente</p>

        <form class="" role="form" [target]="'_blank'" >
            <input class="" formControlName="name"  id="name" type="text" name="name" placeholder="Nombre"><br>
            <span>* Introduce un nombre valido</span><br>
            <span>* No puedes dejar este campo vacío.</span><br>
            <input class="" formControlName="lastName1" id="lastName1" type="text" name="lastName1" placeholder="Apellido Paterno"><br>
            <span>* Introduce un nombre valido</span><br>
            <span>* No puedes dejar este campo vacío.</span><br>
            <input class="" formControlName="lastName2" id="lastName2" type="text" name="lastName2" placeholder="Apellido Materno"><br>
            <span>* Introduce un nombre valido</span><br>
            <span>* No puedes dejar este campo vacío.</span><br>
            <div class="">
                <input class="" formControlName="age" id="age" type="number" name="age" placeholder="0"><br>
                <input class="" formControlName="houseNumber" id="houseNumber" type="text" name="houseNumber" placeholder="Numero de Casa"><br>
            </div>
            <span>* Introduce un nombre valido</span><br>
            <span>* No puedes dejar este campo vacío.</span><br>
            <input class="" formControlName="plates" id="plates" type="text" name="plates" placeholder="Placas"><br>
            <span>* Introduce un nombre valido</span><br>
            <span>* No puedes dejar este campo vacío.</span><br>
            <input class="" formControlName="lastName2" id="telephone" type="tel" name="telephone" placeholder="Telefono de Contacto"><br>
            <span>* Introduce un nombre valido</span><br>
            <span>* No puedes dejar este campo vacío.</span><br>
        </form>
    </div>

    <div class="">
        <img src="../../../../assets/icons/bars.svg" class="rounded-full bg-secondary-blue-color p-5 w-44 h-44" alt=""><br>
        <h2>Model Recognition</h2>

           <div class="flex flex-grow">
            <button class="">X</button><br>
            <button class=" ">Grabar Modelo</button><br>
           </div>

            <button class="">Limpiar</button><br>
            <button class=" ">Registrar</button>

    </div>

</div>