.fade-in {
    opacity: 0;
    animation: fade-in 0.2s ease-in forwards;
    visibility: hidden;
    
  }

  .fade-out {
    opacity: 1;
    animation: fade-out 0.2s ease-out forwards;
  }

  .fade-out-no-display {
    opacity: 1;
    animation: fade-out 0.2s ease-out forwards;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  
  @keyframes fade-out {
    0% {
      opacity: 1;
      visibility: visible;
    }
    
    100% {
      
        opacity: 0;
        visibility: hidden;
    }
  }
