<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TutsPlus TailwindCSS Form Demo</title>
  <link rel="stylesheet" href="/build/tailwind.css">
</head>
<body>
    <p>login works!</p>


    <div>
        <form>
          <div>
            <div>
              <div>
                <label for="email-lbl">
                  Email
                </label>
                <input id="user-name-input" type="text" placeholder="alma.hj0606@gmail.com">
                <div>
                  <span>
                    Please fill out this field with your email.
                  </span>
                </div>
              </div>
              <div>
                <label for="password-lbl">
                  Password
                </label>
                <input id="password-input" type="password" placeholder="example">
              </div>
            </div>
            <div>
              <div>
                <button>
                  Button
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
</body>
</html>