<!-- <main class="flex items-stretch xsm:flex-col sm:flex-row md:flex lg:flex bg-purple-400 xsm:bg-pink-400 sm:bg-black  md:bg-slate-600 lg:bg-red-500 xsm:h-screen "> -->
  <main class="flex items-stretch xsm:flex-col sm:flex-row md:flex lg:flex xsm:h-screen xsm:bg-background-login-small sm:bg-background-login-large bg-no-repeat bg-cover">
  <div class=" flex bg-white m-2 xsm:h-2/5 sm:w-6/12  text-white sm:mt-20 items-center justify-center"> 
   
  </div>


  <div class="flex bg-blue-900 m-2 xsm:h-3/5 sm:w-6/12 sm:mt-20 justify-start items-start">
    <div class="ml-20 mt-10 mr-20 space-y-4">
      <img
        src="../../../assets/img/wallpapers/title-login-orange-lg.png"
        class="w-fit h-auto"
        alt=""
      />

      <h1 class="text-white-pure text-lg font-medium">Iniciar Sesión</h1>

      <!-- FORMULARIO -->
      <form [formGroup]="myForm" class="space-y-3" (ngSubmit)="SubmitForm()">
        <div class="space-y-3 bg-blue-500 flex-col">
          <div class="w-full">
            <input class="w-full rounded-sm h-10 p-2"  formControlName="email" type="email" name="email" placeholder="Email" >
          </div>
  
          <div class="w-full">
            <input class="w-full rounded-sm h-10 p-2" formControlName="password"  type="password" name="pswd" placeholder="Password" >
          </div>

        </div>
      
        <div class="flex justify-end xsm:justify-center xsm:mt-6 sm:justify-end">
          <button class="bg-primary-orange-color text-white-pure pt-3 pb-3 pl-9 pr-9 rounded-md shadow-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105  duration-300"> Iniciar Sesion</button>
        </div>
      </form>

      <div class="flex flex-col ">
      <label class="hover:cursor-pointer text-complementary-gray-light hover:text-primary-orange" (click)="NavigateToResetPass()" for="forgot-password">¿Has olvidado tu contraseña?</label>
       <div class="flex">
        <p class="text-white-pure mr-2">¿No tienes cuenta?  </p>
        <label for="forgot-password" class="hover:cursor-pointer text-primary-orange hover:text-complementary-gray-light" (click)="NavigateToRegister()">Registrate</label>
       </div> 
      </div>
    </div>
  </div>
  
</main>
